.headerNav {
    position: fixed;
    width: 100%;
    background-color: #20232a;
    color: white;
    top: 0;
    z-index: 100;

    transition: background-color .3s ease-in-out;
}

.headerNavTransparent {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    top: 0;
    z-index: 100;

    transition: background-color .3s ease-in-out;
}

.headerNavShadow {
    position: absolute;
    width: 100%;
    bottom: -1.56rem;
    left: 0;
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.6) 0px, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
    background-position: 0 -0.94rem;
    background-repeat: no-repeat;
    height: 1.56rem;
    overflow: hidden;
    pointer-events: none;
    z-index: 90;
}
